<MudItem xs="12">
    <MudFileUpload T="IBrowserFile" @ref="_fileUpload" FilesChanged="HandleFilesChanged" Accept=".jpg, .jpeg, .png, .webp">
        <ActivatorContent>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Info"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                @Label
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    
    @if (!string.IsNullOrEmpty(Imagem))
    {
        <div class="mt-4">
            <MudText Typo="Typo.subtitle2" Class="mb-1">Visualização:</MudText>
            <MudImage Src="@Imagem" Alt="Preview" Elevation="4" 
                      Class="rounded-lg" Style="max-height: 200px" 
                      ObjectFit="ObjectFit.Contain" />
        </div>
       <div class="mt-4">
            <MudButton Variant="Variant.Text"
                       Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="RemoverImagemExistente">
                Deletar Imagem
            </MudButton>
        </div>
    }
</MudItem>

@code {
    [Parameter] public string? Imagem { get; set; }
    [Parameter] public EventCallback<string?> ImagemChanged { get; set; }
    [Parameter] public string Label { get; set; } = "Selecionar Imagem";
    
    private MudFileUpload<IBrowserFile>? _fileUpload;

    private async Task HandleFilesChanged(IBrowserFile? file)
    {
        if (file != null)
        {
            var maxAllowedSize = 1024 * 1024 * 5; // 5 MB            
            using var stream = file.OpenReadStream(maxAllowedSize);
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            var buffer = memoryStream.ToArray();
            
            var base64 = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
            
            // Atualiza a imagem para exibir a visualização
            await ImagemChanged.InvokeAsync(base64);
        }
        else
        {
            // Ocorre quando o usuário clica no 'X' do chip nativo do MudBlazor
            await ImagemChanged.InvokeAsync(null);
        }
    }
    private async Task RemoverImagemExistente()
    {
        // Limpa o input file caso tenha algo lá
        if (_fileUpload is not null)
            await _fileUpload.ClearAsync();

        // Limpa a string base64, apagando a visualização da tela
        await ImagemChanged.InvokeAsync(null);
    }
}