@page "/categoria/create"

<div class="mb-6">
    @* Breadcrumbs: Navegação em trilha *@
    <MudBreadcrumbs Items="_breadcrumbItems" Separator="/" Class="pa-0 mb-2" />
</div>

<div class="mt-6">
    <MudText Typo="Typo.h4" Color="Color.Primary">Criar Nova Categoria</MudText>
    <MudDivider Class="mb-6" />
</div>

<MudPaper Class="pa-4" Elevation="3">
    <CategoriaForm Categoria="_categoria"
                   IsSaving="_isSaving"
                   ButtonText="Salvar"
                   OnValidSubmit="SalvarCategoriaAsync"
                   OnCancel="Voltar" />
</MudPaper>

@code {
    private Categoria _categoria = new();
    private bool _isSaving;

    private List<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Categoria", href: "/categorias"),
        new BreadcrumbItem("Nova Categoria", href: null, disabled: true)
    };


    private async Task SalvarCategoriaAsync()
    {
        try
        {
            _isSaving = true;
            var response = await Http.PostAsJsonAsync("api/categoria", _categoria);
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Categoria criada com sucesso!", Severity.Success);
                Voltar();
            }
        }
        finally
        {
            _isSaving = false;
        }
    }

    private void Voltar() => NavigationManager.NavigateTo("/categorias");
}